<!DOCTYPE html>
<html>
    <head>
        <title>Automatic Light</title>
    </head>
    <body>
        <script>
            window.setTimeout(function(){
                window.location.reload();
            }, 1000);
        </script>
            <p>
                Here's a image of nobody in the room
            </p>
            <img src="../static/IMAGES-5.png" style="width:100%; height: 100%;">
            <p>
                Here's a image of Daisy in the room and the light on💡
            </p>
            <img src="../static/IMAGES-4.png" style="width:100%; height: 100%;">
    </body>
</html>